body{
	background: #4f6e6a;
}

#menu{

	background: #8a6d48; 
	background-size: 100%;
	margin: 0px auto;
	width: 800px ;
	height: 100px;

}
.button{
	background: black;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width: 120px;
	height: 50px;
	margin: 25px 0px 15px 10px;
	display: inline-block;
}

.logo{
	margin: 0px auto;
	width: 75px;
	height: 98px;
	background: url("logo.png");
	background-size: 100%;
}

.left_butns{
	float: left;
	width: 290px;
	height: 85px;
}

.right_butns{
	margin-top: -97px;
	float: right;
	width: 290px;
	height: 85px;
}

.head{
	background:url("4.jpg");
	background-size: 100%;
	width: 800px;
	height: 310px;
}

#content{
	background: #bce0e0;
	background-size: 100%;
	margin: 0px auto;
	width: 800px ;
	height: 1900px;
}

.txt1{
	opacity: 0.7;
	background: white;
	border-radius:20px;
	width: 550px;
	height: 210px;
	margin-top: 50px;
	margin-left: 110px;
	padding-left: 10px; 
	padding-right: 10px;
	border: 2px solid black;
}

.pers1{
	border-radius: 35px;
	background: url("5.jpg");
	background-size: 100%;
	width: 250px;
	height: 320px;
	border: 3px solid black;
    margin-left: 90px;
    margin-top: 50px;
	display: inline-block;
}

.pers2{
	border-radius: 35px;
	background:url("6.jpg");
	background-size: 100%;
	width: 250px;
	height: 320px;
	border: 3px solid black;
    margin-left: 100px;
    margin-top: 50px;
	display: inline-block;
}

.btn_pers{
	background: black;
	border-radius:20px;
	width: 150px;
	height: 40px;
	margin-top: 270px;
}

.txt2{
	opacity: 0.7;
	background: white;
	border-radius: 110px;
	width: 210px;
	height: 200px;
	margin-top: 50px;
	margin-left: 90px;
	padding-left: 11px; 
	padding-right: 11px;
	border: 2px solid black;
	display: inline-block;
}

.txt3{
	opacity: 0.7;
	background: white;
	border-radius: 110px;
	width: 210px;
	height: 200px;
	margin-top: 10px;
	margin-left: 140px;
	padding-left: 11px; 
	padding-right: 11px;
	border: 2px solid black;
	display: inline-block;
}

.img{
	border-radius: 35px;
	background:url("1.jpg");
	background-size: 100%;
	width: 400px;
	height: 545px;
	border: 1px solid black;
	margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#footer{
	background: #151a1a; 
	background-size: 100%;
	margin: 0px auto;
	width: 800px;
	height: 160px;
}